@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<p>Lijst van alle deelnemers</p>
<table class=".table-striped">
    
@foreach (var u in ViewBag.Attendees)
        {
            //  weergave naam.
        <tr>

            //   <td>@ViewBag.Attendee</td>
        </tr>
            }
   

</table>